In [1]:
import requests
import random
from time import sleep

In [3]:
def req_url(id, year):
    return f"https://ambientepub.regione.liguria.it/SiraQualMeteo/script/PubAccessoDatiMeteoPost.asp?CodParam=TEMPTRMWC4,TEMPTRMWC7&CodTema=REGIONE&IdEstraz=DE&Frequenza=GG&TipoOutput=XLS&Separatore=TAB&IdRichiesta={id}&IdRichiestaCarto=&DataIniz=01/01/{year}&InizOra=00:00&DataFine=05/01/{year}&FineOra=23:59"

def dwn_url(id):
    return f"https://ambientepub.regione.liguria.it/SiraQualMeteo/report/{id}.csv"

def gen_id():
    return "".join([str(random.randint(0, 9)) for _ in range(14)])

In [7]:
with requests.Session() as session:
    session_id = gen_id()
    archive_path = "./test.csv"
    resp = session.get(req_url(session_id, 2022))
    sleep(20)
    with session.get(dwn_url(session_id), stream = True) as stream:
        with open(archive_path, "wb") as fd:
            for chunk in stream.iter_content(chunk_size=128):
                fd.write(chunk)

In [1]:
import polars as pl
import pandas as pd

In [12]:
from pathlib import Path
base = Path("/Users/davidenicoli/Local_Workspace/Datasets/ARPA/LIGURIA/")
tab = pd.read_html(base / "Lista Stazioni.html", header=0)

In [14]:
tab[0].dropna(how = "all")

,CODICE STAZIONE,NOME STAZIONE,PROVINCIA,BACINO,QUOTA (m)
0,AIROL,AIROLE,IMPERIA,ROYA,103.0
2,AIRO0,AIROLE,IMPERIA,ROYA,110.0
4,ALASS,ALASSIO,SAVONA,FRA IMPERO E CENTA,25.0
6,ALBG0,ALBENGA,SAVONA,CENTA,5.0
8,ISBLL,ALBENGA - ISOLABELLA,SAVONA,CENTA,36.0
...,...,...,...,...,...
680,VIGAN,VIGANEGO,GENOVA,BISAGNO,430.0
682,VIGNO,VIGNOLO,GENOVA,ENTELLA,71.0
684,SVIG0,VIGNOLO,GENOVA,ENTELLA,80.0
686,AQUI0,VILLA PONZA,SAVONA,FRA CENTA E QUILIANO,90.0
688,VOBBI,VOBBIETTA,GENOVA,SCRIVIA,323.0